@using Microsoft.AspNetCore.Components.Forms
@inject IJSRuntime Js
@code {
    [Parameter]
    public EventCallback<InputFileChangeEventArgs> OnChange { get; set; }
    
    [Parameter]
    public string Title { get; set; }
}

<InputFile style="display: none" OnChange="@OnChange" accept=".po" multiple id="fileInput"></InputFile>

<label for="fileInput" id="dropArea" class="d-block p-2 rounded position-relative bg-lighten" style="height: 250px; background-color: #2988e6;">
    <div class="d-flex rounded text-white border-white border-1 h-100 w-100" style="background-color: #1976d2; border-style: dashed;">
        <div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex flex-column align-items-center py-3">
                <img src="/svg/translate.svg" alt="" style="height: 80px; filter: invert(100%)" />
            </div>
            <div class="btn-group">
                <button onclick="@HandleClick" type="button" class="btn btn-light font-size-125 fw-bold text-nowrap position-static">
                    @Title
                </button>
            </div>
            <span class="px-1 pt-3 text-center">
                Drop files here
            </span>
        </div>
    </div>
</label>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Js.InvokeVoidAsync("initializeDropArea", "dropArea", "fileInput");
        }
    }

    private void HandleClick()
    {
        Js.InvokeVoidAsync("triggerClick", "fileInput");
    }
}